
configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font Medium 10";
  modi: "window,run,drun,emoji,calc";
}

/* Light theme. */
/* @import "~/.cache/wal/colors-rofi-light" */

/* Dark theme. */
@import "~/.cache/wal/colors-rofi-dark"

