//@theme "/usr/share/rofi/themes/solarized_alternate.rasi"
//@theme "/usr/share/rofi/themes/material.rasi"
//@theme "/usr/share/rofi/themes/onedark.rasi"
//@theme "/usr/share/rofi/themes/solarized-darker.rasi"
//@theme "/usr/share/rofi/themes/blue.rasi"
@theme "/usr/share/rofi/themes/DarkBlue.rasi"
